* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image: url("/images/btilewhitebgnd.JPG");
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: rgb(245, 145, 203);
  }
  
  /* Style the navigation bar links */
  .navbar a {
      color: white;
      padding: 20px 20px;
      text-decoration: none;
      text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
      background-color: #ddd;
      color: black;
  }

  /* Header */
  .header {
    position: relative;  
    padding: 60px;
    height: 20em;
    background-image: url("/images/banner4.jpeg");
    background-position: left;
    background-size: cover;
  }

  /* header card and text */
  .hcard {
    background: rgba(245, 245, 245, 0.5);
    position: absolute;
    left: 27%;
    top: 23%;
    width: 50%;
    min-width: 200px;
    text-align: center;
    padding: 2.5em;
  }
  
  /* Column container */
  .row {  
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }
  
  /* Flexboxes divs and boxes for the page */
  .fbox {
      flex: 30%;
      padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: lightgray;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
  }

  /* images and links for the boxes */
  .storiesimg {
    background-image: url("/images/journal.jpg");
  }

  /* images and links for the boxes */
  .remembranceimg {
    background-image: url("/images/remembrance.jpg");
    background-size: cover;
  }

  /* images and links for the boxes */
  .supportimg {
    background-image: url("/images/support1.jpg");
    background-size: cover;
    background-position: bottom;
  }

  /* images and links for the boxes */
  .feelingsimg {
    background-image: url("/images/feelings2.jpg");
    background-size: cover;
    background-position: top;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;  
    background-image: url("/images/btilewhitebgnd.JPG")
  }

  /* Add a card effect for footer */
  .fcard {
    background-color: rgb(245, 145, 203);
    padding: 20px;
    margin-top: 20px;
    color: white;
  }

  /* footer buttons */
  .button {
    border: none;
    color: black;
    padding: 20px;
    cursor: pointer;
  }

  .buttonlogo {
    width: 6em;
    border-radius: 0%;
    background-image: url("/images/logofullsize.jpeg");
    background-size: cover;
    background-position: center;
  }

  .buttontwitter {
    border-radius: 10%;
    background-image: url("/images/twitter.png");
    background-size: cover;
    background-position: center;
  }

  .buttonfacebook {
    border-radius: 10%;
    background-image: url("/images/facebook.jpg");
    background-size: cover;
    background-position: center;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }